<h1 class="mb-4">Register</h1>
<form method="POST" action="/api/user/new">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
            type="email"
            class="form-control"
            name="username"
            placeholder="name@example.com"
        />
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" />
    </div>
    <input type="submit" class="btn btn-primary" />
</form>