<h1 class="mb-4">Register</h1>
<form method="POST" action="/api/user/new">
    <div class="row mb-3">
        <div class="col">
            <label for="firstName" class="form-label">First Name</label>
            <input
                type="text"
                class="form-control"
                placeholder="Jane"
                name="firstName"
            />
        </div>
        <div class="col">
            <label for="lastName" class="form-label">Last Name</label>
            <input
                type="text"
                class="form-control"
                placeholder="Doe"
                name="lastName"
            />
        </div>
    </div>
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
            type="email"
            class="form-control"
            name="username"
            placeholder="name@example.com"
        />
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label><br />
        <input type="password" class="form-control" name="password" />
        <small id="passwordHelp" class="form-text text-muted">Must have at least
            6 characters</small>
    </div>
    <input type="submit" class="btn btn-primary" />
</form>